
DB_ROOT_PASSWORD=change_me
DB_NAME=cinema_db
DB_USER=app
DB_PASS=change_me
DB_HOST=database
DB_PORT=3306


PORT=3000
NODE_ENV=development


REACT_APP_API_URL=https://cinema.local/api
JWT_SECRET=troque_este_segredo